In [87]:
import pandas as pd

In [88]:
file = "OneDrive/Desktop/Fintech/Starter_Code/PyBank/Resources/budget_data.csv"

In [89]:
df = pd.read_csv(file)

# Data Exploration

In [90]:
#First 10 rows of data
df.head(10)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [91]:
#Displaying last 10 rows of data
df.tail(10)

        Date  Profit/Losses
76  May-2016         445709
77  Jun-2016         712961
78  Jul-2016       -1163797
79  Aug-2016         569899
80  Sep-2016         768450
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [92]:
#displaying any missing data
df.isnull()

     Date  Profit/Losses
0   False          False
1   False          False
2   False          False
3   False          False
4   False          False
..    ...            ...
81  False          False
82  False          False
83  False          False
84  False          False
85  False          False

[86 rows x 2 columns]

In [93]:
#adding up total amount of missing/null values
df.isnull().sum()

Date             0
Profit/Losses    0
dtype: int64

In [94]:
#Dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           86 non-null     object
 1   Profit/Losses  86 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.5+ KB

In [95]:
#shows the amount of rows and columns in the dataset
df.shape

(86, 2)

In [96]:
#the different data types 
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [97]:
#The different unique values in the dataset
df["Date"].unique()

array(['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010',
       'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010',
       'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011',
       'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011',
       'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012',
       'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012',
       'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012',
       'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013',
       'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013',
       'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014',
       'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014',
       'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014',
       'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015',
       'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015',
       'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016',
       'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016',
       'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017',
       'Feb-2017'], dtype=object)

In [98]:
df["Profit/Losses"].unique()

array([  867884,   984655,   322013,   -69417,   310503,   522857,
        1033096,   604885,  -216386,   477532,   893810,   -80353,
         779806,  -335203,   697845,   793163,   485070,   584122,
          62729,   668179,   899906,   834719,   132003,   309978,
        -755566,  1170593,   252788,  1151518,   817256,   570757,
         506702, -1022534,   475062,   779976,   144175,   542494,
         359333,   321469,    67780,   471435,   565603,   872480,
         789480,   999942, -1196225,   268997,  -687986,  1150461,
         682458,   617856,   824098,   581943,   132864,   448062,
         689161,   800701,  1166643,   947333,   578668,   988505,
        1139715,  1029471,   687533,  -524626,   158620,    87795,
         423389,   840723,   568529,   332067,   989499,   778237,
         650000, -1100387,  -174946,   757143,   445709,   712961,
       -1163797,   569899,   768450,   102685,   795914,    60988,
         138230,   671099], dtype=int64)

# Profit/Loss Analysis

### 1. The total number of months included in the dataset

In [99]:
#using the count function to count the total months in the Date column
total_months = df['Date'].count()
print(f"The total number of months in the data set is {total_months}")

The total number of months in the data set is 86

### 2. The net total amount of Profit/Losses over the entire period

In [100]:
#Add up the total values in the profit/losses column
net_profit = df['Profit/Losses'].sum()
# using curly brackets to input commas for thousands
net_profit_losses = '{:,}'.format(net_profit)

In [101]:
print(f"The net amount of Profit/Losses is ${net_profit_losses}")

The net amount of Profit/Losses is $38,382,578

### 3. The average of the changes in Profit/Losses over the entire period?

In [102]:
# use a variable to store the total change
total_change = 0

# Iterate through the DataFrame rows
for i in range(1, total_months):
    # Calculate the change from the previous month and adding it to the total
    change = df.loc[i, 'Profit/Losses'] - df.loc[i - 1, 'Profit/Losses']
    total_change += change

In [103]:
# Calculating the average change by dividing the total_change by the total_months 
average_change = total_change / total_months

In [104]:
print(f"The average of the changes in Profit/Losses is {average_change:.2f}")

The average of the changes in Profit/Losses is -2288.20

### 4. The greatest increase in profits (date and amount) over the entire period?

In [113]:
# set 3 additional variables for the increase, date, and profit
greatest_increase = 0
greatest_increase_date = None
previous_profit = None

for i in range(1, len(df)):
    # Calculating the change from the previous month
    profit_change = df.loc[i, 'Profit/Losses'] - df.loc[i - 1, 'Profit/Losses']
    #using an if statement to check which month had the greatest increase.
    if profit_change > greatest_increase:
        greatest_increase = profit_change
        greatest_increase_date = df.loc[i, 'Date']

In [114]:
print(f"The greatest increase in profits was ${greatest_increase} on {greatest_increase_date}.")

The greatest increase in profits was $1926159 on Feb-2012.

### 5. The greatest decrease in losses (date and amount) over the entire period?

In [131]:
greatest_decrease = None
greatest_decrease_date = None

for i in range(1, len(df)):
    # Calculating the change from the previous month
    loss_change = df.loc[i, 'Profit/Losses'] - df.loc[i - 1, 'Profit/Losses']
    #checking which is the greatest decrease is 0 or is loss_change is less then current_decrease 
    if greatest_decrease is None or loss_change < greatest_decrease:
        greatest_decrease = loss_change
        greatest_decrease_date = df.loc[i, 'Date']

In [132]:
print(f"The greatest decrease in profits was ${greatest_decrease} on {greatest_decrease_date}.")

The greatest decrease in profits was $-2196167 on Sep-2013.